h1{
    font-family: 'Righteous', cursive;
    margin-top: 15px;
    color:#de5764
}

h5{
    font-family: 'Righteous', cursive;
    color:#de5764;
    text-align: center;
}

th{
    font-family: 'Righteous', cursive;
    color:#de5764
 }

 div .text-xs{
    font-weight: bold;
 }
 ul{
    margin-bottom: 0;
 }
/* #f0f0f0 blanco rgba(240,240,240,0.5)
#de5764 rosado rgba(222,87,100,0.5)
#a8848d moradito rgba(168,132,141,0.5)
#7baab1 azul oscur rgba(123,170,177,0.5)
#45d7da azul claro rgba(69,215,218,0.5)
#151f28 azul fondo rgba(21,31,40,0.5) */